/*Asterisk wildcard selector to override default styles added*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Applying Orbitron font to the entire page */
html, body {
    font-family: "Orbitron", sans-serif !important;
}

#home-page {
    background-color: #2C2C2C;
}

.text-center {
color: aliceblue;
}
/* Center the form */
#user-info {
    margin: auto;
}

/*Game page*/

.heading {
   text-align: center;
   margin-top: 2rem;
}

.memory-card {
    width: 100px;
    height: 100px;
    perspective: 1000px;
    position: relative;
    cursor: pointer;
}

.memory-card .front-face,
.memory-card .back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    backface-visibility: hidden;
    transition: transform 0.6s;
}

.front-face {
    transform: rotateY(180deg);
    object-fit: cover;
}

.back-face {
    background: #333;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.memory-card.flipped .front-face {
    transform: rotateY(0deg);
}

.memory-card.flipped .back-face {
    transform: rotateY(180deg);
}

/*Media query: tablets (768px and up)*/
@media (min-width: 768px) {
    #user-info {
        max-width: 70%; 
    }
}

/*Media query: (laptops 992px and up)*/
@media (min-width: 992px) { 
    #user-info {
        max-width: 50%; 
    }
}

/*Media query: (laptops 1200px and up)*/
@media (min-width: 1200px) { 
    #user-info {
        max-width: 50%; 
    }
}

