/*Asterisk wildcard selector to override default styles added*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Applying Orbitron font to the entire page */
html, body {
    font-family: "Orbitron", sans-serif !important;
}

#home-page {
    background-color: #2C2C2C;
}

.text-center {
color: aliceblue;
}
/* Center the form */
#user-info {
    margin: auto;
}

/*Game page*/

.heading {
   text-align: center;
   margin-top: 2rem;
}

#reset-button {
    padding: 10px 16px;
    font-size: 20px;
    border-radius: 15px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
    padding: 1rem;
    grid-auto-rows: 1fr;
    height: calc(100vh - 300px);
    box-sizing: border-box;
    grid-template-rows: repeat(4, 1fr);
}   

.justify-content-center {
    padding: 0.5rem;
}

.memory-card {
    width: 50%;
    height: 100%;
    position: relative;
    cursor: pointer;
    aspect-ratio: unset;
    perspective: 1000px;
}

.memory-card .front-face,
.memory-card .back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    backface-visibility: hidden;
    transition: transform 0.6s;
}

.front-face {
    transform: rotateY(180deg);
    object-fit: contain;

}

.back-face {
    background: #474747;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
}

.memory-card.flipped .front-face {
    transform: rotateY(0deg);
}

.memory-card.flipped .back-face {
    transform: rotateY(180deg);
}

/*Media query: tablets (320px and up)*/
@media (min-width: 320px) {
    #user-info {
        max-width: 100%; 
    }

   .memory-card {
        width: 100%;
   }
}

/*Media query: tablets (768px and up)*/
@media (min-width: 768px) {
    #user-info {
        max-width: 70%; 
    }
}

/*Media query: (laptops 992px and up)*/
@media (min-width: 992px) { 
    #user-info {
        max-width: 50%; 
    }
}

/*Media query: (laptops 1200px and up)*/
@media (min-width: 1200px) { 
    #user-info {
        max-width: 50%; 
    }
}